<!-- views/home/login.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>

    <div id="login" class="flex-container">

      <form class="login-container" action="/login" method="post">
        <div class="input-form">
            <input type="text" id="username" name="username" value="<%= username %>" placeholder="username">
            <% if(errors.username){ %>
                <div class="invalid-feedback"><%= errors.username %></div>
            <% } %>
        </div>
        <div  class="input-form">
            <input type="password" id="password" name="password" placeholder="password"> 
            <% if(errors.password){ %>
                <div class="invalid-feedback"><%= errors.password %></div>
            <% } %>
        </div>
        <% if(errors.login){ %>
            <div class="invalid-feedback d-block"><%= errors.login %></div>
          <% } %>
          <div class>
            <input class="" type="submit" value="Submit">
          </div>
      </form>
    </div>
  </body>
</html>