<!-- views/home/login.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>

    <div id="login" class="flex-container">

      <form class="login-container" action="/login" method="post">
        <h3>Login</h3>
        <div class="input-form">
            <input type="text" id="username" name="username" value="<%= username %>" placeholder="username">
            <% if(errors.username){ %>
                <span class="<%= (errors.password)?'error-login':'error-hidden' %>"><%= errors.username %></span>
            <% } %>
        </div>
        <div  class="input-form">
            <input type="password" id="password" name="password" placeholder="password"> 
            <% if(errors.password){ %>
                <span class="<%= (errors.password)?'error-login':'error-hidden' %>"><%= errors.password %></span>
            <% } %>
        </div>
            <input class="" type="submit" value="Submit">
            <% if(errors.login){ %>
              <div class="error-login"><%= errors.login %></div>
            <% } %>
      </form>
    </div>
  </body>
</html>