<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/search.css">
</head>
<body class="b-g">
    <%- include('../partials/nav') %>

    <div class="flex-container">
        
        <div class=list>
            <div class="flex-container sp-bt">
                <h2>스터디 모집</h2>
                <form action="/recruitments" method="get">
                    <select name="searchType">
                        <option value="title,body,tag" selected>Title, Body, Tag</option>
                    </select>
                    <input minLength="3" type="text" name="searchText" value="<%= searchText %>" placeholder="search..." class="search-bar">
                    <button class="search-button" type="submit">search</button>
                </form>
            </div>

            <% if(recruitments == null || recruitments.length == 0){ %>
                  <p> There is no data to show :( </p>
              <% } %>
            <% recruitments.forEach(function(recruitment){ %>
                <a href="/recruitments/<%= recruitment._id %>" class="item">
                    <p><% recruitment.tag.forEach(function(tag){ %>
                        <span class="tag"><%= tag %></span>
                   <% }) %></p>
                    <p>제목 <%= recruitment.title %></p>
                    <p>저자 <%= recruitment.author ? recruitment.author.username : "" %></p>
                    <p data-date="<%= recruitment.createdAt %>"></p>
                </a>
           <% }) %>
        </div>
    </div>
</body>
</html>