<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="b-g">
    <%- include('../partials/nav') %>

    <div class="flex-container">
        <div class="search flex-container">
            <form action="/recruitments" method="get">
                <div class="form-group col-9"> <!-- 2 -->
                    <label>Search</label>
                    <div class="input-group">
                      <select name="searchType" class="custom-select">
                        <option value="title,body" <%= searchType=='title,body'?'selected':'' %>>Title, Body</option>
                        <option value="title" <%= searchType=='title'?'selected':'' %>>Title</option>
                        <option value="body" <%= searchType=='body'?'selected':'' %>>Body</option>
                      </select>
                      <input minLength="3" type="text" name="searchText" value="<%= searchText %>">
                      <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">search</button>
                      </div>
                    </div>
                </div>
            </form>
        </div>
        
        <div class=list>
            <% if(recruitments == null || recruitments.length == 0){ %>
                  <p> There is no data to show :( </p>
              <% } %>
            <% recruitments.forEach(function(recruitment){ %>
                <a href="/recruitments/<%= recruitment._id %>" class="item">
                    <p><% recruitment.tag.forEach(function(tag){ %>
                        <span class="tag"><%= tag %></span>
                   <% }) %></p>
                    <p>제목 <%= recruitment.title %></p>
                    <p>저자 <%= recruitment.author ? recruitment.author.username : "" %></p>
                    <p data-date="<%= recruitment.createdAt %>"></p>
                </a>
           <% }) %>
        </div>
    </div>
</body>
</html>